[submodule "redist/QXT"]
	path = redist/QXT
	url = git@192.168.137.67:externals/qxt_bin.git
[submodule "redist/pwgis"]
	path = redist/pwgis
	url = git@192.168.137.67:externals/pwgis_bin.git
[submodule "redist/plugins"]
	path = redist/plugins
	url = git@192.168.137.67:externals/qt_plugins_bin.git
[submodule "redist\\qtsingleapplication"]
	path = redist\\qtsingleapplication
	url = git@192.168.137.67:externals/qtsingleapplication.git
