[submodule "redist/QXT"]
	path = redist/QXT
	url = git@git.okocenter.ru:externals/qxt_bin.git
[submodule "redist/pwgis"]
	path = redist/pwgis
	url = git@git.okocenter.ru:externals/pwgis_bin.git
[submodule "redist/plugins"]
	path = redist/plugins
	url = git@git.okocenter.ru:externals/qt_plugins_bin.git
[submodule "redist/qtsingleapplication"]
	path = redist/qtsingleapplication
	url = git@git.okocenter.ru:externals/qtsingleapplication.git
[submodule "cmake"]
	path = cmake
	url = git@git.okocenter.ru:externals/cmake.git
[submodule "src/CISCommonLib"]
	path = src/CISCommonLib
	url = git@git.okocenter.ru:externals/ciscommonlib.git
[submodule "redist/protobuf"]
	path = redist/protobuf
	url = git@git.okocenter.ru:externals/protobuf_bin.git
[submodule "redist/libmysql"]
	path = redist/libmysql
	url = git@git.okocenter.ru:externals/libmysql.git
[submodule "tools/cxxmock"]
	path = tools/cxxmock
	url = git@git.okocenter.ru:externals/cxxmock.git
[submodule "tools/cxxtest"]
	path = tools/cxxtest
	url = git@git.okocenter.ru:externals/cxxtest.git
[submodule "src/ADSBReceiver"]
	path = src/ADSBReceiver
	url = git@git.okocenter.ru:pyarovoy/adsbreceiver.git
